apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: monitoring
data:
  alertmanager.yaml |
    global:
        resolve_timeout: 5m #处理超时时间，默认为5min
    route:
        #group_by: ['instance'] # 报警分组依据instance,alertname
        group_by: ['cluster','alertname'] # 报警分组依据
        group_wait: 60s # 最初即第一次等待多久时间发送一组警报的通知
        group_interval: 120s # 在发送新警报前的等待时间
        repeat_interval: 10m # 发送重复警报的周期。对于email配置中，此项不可以设置过低，否则将会由于邮件发送太多频繁，被smtp服务器拒绝
        receiver: 'webhook' # 发送警报的接收者的名称，以下receivers name的名称
    receivers:
    - name: 'webhook'
      webhook_configs:
      - url: 'http://10.127.92.107:5000/webhook'
        send_resolved: true
    inhibit_rules:
        - source_match:
            severity: 'critical'
          target_match:
            severity: 'warning'
          equal: ['alertname', 'dev', 'instance']